{{!-- About page --}}
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="/images/ss2.jpg" alt="">
            </div>
            <div class="about-col-2">
                <h2 class="sub-title">About Myself</h2>
                <p>I am elated to introduce myself as <strong>Sukhpreet Saini</strong> born and bought in <em>New Delhi India</em>. I have a nuclear family with my mother only. I am an inquisitive person, I really like to explore new digital gadgets and technologies which broaden my horizon and give me in-depth knowledge. I am industrious because I am hard-working; I keep myself constantly active in any task that I take up. I am upbeat, practical, observant, proactive, and diligent; I take great care in doing things right to the end. I am also able to communicate with people as well as have a cordial personality. I enjoy traveling to pristine natural landscapes whenever I visit to these places I draw them on my canvas, I enjoy uplifting music and engage myself in thrilling and adventurous tour trips.</p>
                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>Python projects</span></li>
                            <li><span>C/C++ projects</span></li>
                            <li><span>C# Programming</span></li>
                            <li><span>Mainframes</span></li>
                            <li><span>Microsoft Azure</span></li>
                            <li><span>Tally Accounting</span></li>
                            <li><span>Web Designing</span></li>
                            <li><span>Office Automation</span></li>
                            <li><span>Microsoft Office</span></li>
                            <li><span>MySQL</span></li>
                            <li><span>Data Structure- Queue and Stack</span></li>
                            <li><span>Network Security</span></li>
                            <li><span>French</span></li>
                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>August 2021 to till mid-December 2022</span><br>As Digital Operations Assistant at Riyaasat Group (Pvt. Ltd).</li>
                        <li><span>April 2023 to current</span><br>As Crew Trainer in McDonald's Parry Sound.</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>2023 - Current</span><br>Advance Diploma in Computer Programming and Analysis.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
