{{!-- Contact page --}}
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h2 class="sub-title">Contact Info.</h2>
                <p><i class="fa-solid fa-paper-plane"></i> sukhpreet.saini2020@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> Mobile Number: +1 6476854689</p>
                <div class="social-icons">
                    {{!-- links to websites --}}
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/?lang=en"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://ca.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.snapchat.com/"><i class="fa-brands fa-snapchat"></i></a>
                </div>
                <a href="../public/images//resume.docx" download class="btn btn2">Download Curriculum
                    Vitae</a>
            </div>
            <div class="contact-right">
                {{!-- form --}}
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your E-mail" required>
                    <textarea name="Message" row="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
</div>